* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    height: 80px;
    background: coral;
    color: black;
    font-weight: bold;
}

.header_anchor {
    color: #fff;
    text-decoration: none;
    margin: -10px -15px;
    padding: 10px 15px;
    display:inline-block;
    /*width: 100%;*/
    /*height: 100%;*/
}

.header {
    width: 100%;
    background: coral;
    color: #fff;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: "Arial Black", sans-serif;
}

.header_full {
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
    display: flex;
    justify-content: space-between;
}

.header__section {
    display: flex;
    align-items: center;
    /*background: yellow;*/
}

.header__item {
    padding: 10px 15px;
    margin-left: 5px;
}

.headerLogo {
    font-weight: bold;
}

.headerButton {
    cursor: pointer;
    background-color: chocolate;
}

.headerButton:hover {
    background-color: darksalmon;
    border-radius: 4px;
}

.searchbar {
    white-space: nowrap;
    outline: none;
    border-radius: 10px;
    display: inline-block;
    justify-content: start;
}

.searchbar div {
    width: 90px;
    display: inline-block;
    border: 1px solid black
}

.searchbarLine {
    padding-left: 5px;
    height: 2em;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all .1s;
    transition-delay: .1s;
}

.searchButton {
    padding: 5px 5px;
    margin-left: 1px;
    background-color: chocolate;
    border-color: chocolate;
    color: #fff;
    font-family: "Arial Black", sans-serif;
}
.flex-container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.nft_item{
    border: coral 1px solid;
    border-radius: 4px;
    margin: 5px 7px;
}

.fig_label {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", sans-serif;


}

.page_number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.page_item{
    width: 20px;
    font-size: 15px;
    text-align: center;
    border: black 1px solid;
    margin: 5px;
    background: darksalmon;
    display: block;
    text-decoration: none;
}
.page_current_item{
    border: black 1px solid;
    margin: 5px;
    background: yellow;
}