@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-brand1: #F7B100;
    --color-brand2: #D68400;
    --color-brand3: #ED790C;
    --color-brand4: #D64800;
    --color-brand5: #F72F00;
    --color-brand6: #8f1b01;
    --color-black: #000000;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    font-size: 24px;
    flex: 0 0 auto;
    max-width: 100%;
    height: 80px;
    background: var(--color-brand3);
    color: var(--color-brand6);
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 60px 20px 0;
    border-top: 1px solid var(--color-brand6);
}

.header_anchor {
    color: #fff;
    text-decoration: none;
    margin: -10px -15px;
    padding: 10px 15px;
    display:inline-block;
    /*width: 100%;*/
    /*height: 100%;*/
}
.header_anchor:hover {
    color:  var(--color-black);
    font-size: 1.1rem;
    padding: 10px 12px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.header {
    width: 100%;
    background: var(--color-brand3);
    color: #fff;
    padding: 8px 0;
}

.header_full {
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
    display: flex;
    justify-content: space-between;
}

.header__section {
    display: flex;
    align-items: center;
    /*background: yellow;*/
}

.header__item {
    padding: 10px 15px;
    margin-left: 5px;
}

.headerLogo {
    font-weight: bold;
}

.headerButton {
    cursor: pointer;
    background-color: transparent
}

.headerButton:hover {
    background-color: var(--color-brand1);
    border-radius: 5px;
    color: var(--color-black);
}

.searchbar {
    white-space: nowrap;
    outline: none;
    border-radius: 0px;
    display: inline-block;
    justify-content: start;
}

.searchbar div {
    width: 90px;
    display: inline-block;
    border: 1px solid black
}

.searchbarLine {
    padding: 0 10px;
    height: 2rem;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 0px;
    transition: all .1s;
    transition-delay: .1s;
}

.searchButton {
    padding: 5px 5px;
    margin-left: 1px;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 16px;
}

.searchButton:hover {
    background-color: var(--color-brand1);
    border-radius: 5px;
    color: var(--color-black);
    cursor: pointer;
}
.flex-container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.nft_item{
    border: coral 1px solid;
    border-radius: 4px;
    margin: 5px 7px;
}

.fig_label {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", sans-serif;


}

.page_number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.page_item{
    width: 20px;
    font-size: 15px;
    text-align: center;
    border: black 1px solid;
    margin: 5px;
    background: darksalmon;
    display: block;
    text-decoration: none;
}
.page_current_item{
    border: black 1px solid;
    margin: 5px;
    background: yellow;
}

.hidden{
    display: none;
}

.thumb-image {
    float: left;
    width: 100px;
    position: relative;
    padding: 5px;
}

.selectedItem {
    border: 2px solid blue;
    display: inline-block;
}